<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finterest Login and Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'finterest_app/css/loginstyling.css' %}">
</head>
<body>
    <div id="main">
        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" class="nav">
                <a class="navbar-brand" href="/">Finterest</a>
            </nav>
        </div>  
            <!-- <div class="login"> -->
       
           
        <form class="form-group mb-5" action="/register/", method='post' enctype="multipart/form-data">
                {% csrf_token %} 
            <h3>Register</h3>
            <label for="first_name">First name:</label>
            <input type="text" class=" d-inline form-control" id="first_name" name="first_name"
            {% for message in messages %}
                {% if 'fn_input' in message.extra_tags %}
                    value='{{ message }}'
                {% endif %}
            {% endfor %}
            > <br>
            {% for message in messages %}
                {% if 'first_name' in message.extra_tags %}
                <p class="alert" role="alert">
                    {{message}}
                </p>
                {% endif %}
            {% endfor %}
            <label for="last_name">Last name:</label>
            <input type="text" class=" d-inline form-control" id="last_name" name="last_name"
            {% for message in messages %}
                {% if 'ln_input' in message.extra_tags %}
                    value='{{ message }}'
                {% endif %}
            {% endfor %}
            ><br>
            {% for message in messages %}
                {% if 'last_name' in message.extra_tags %}
                <p class="alert" role="alert">
                    {{message}}
                </p>
                {% endif %}
            {% endfor %}
            <label for="email">Email address:</label>
            <!-- changed from email to test my regex -->
            <input type="email" class=" d-inline form-control email" id="email" name="email"
            {% for message in messages %}
                {% if 'e_input' in message.extra_tags %}
                    value='{{ message }}'
                {% endif %}
            {% endfor %}
            ><br>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {% for message in messages %}
                {% if 'email' in message.extra_tags %}
                <p class="alert" role="alert">
                    {{message}}
                </p>
                {% endif %}
            {% endfor %}
            <label for="street_address">Street Address:</label>
            <input type="text" class=" d-inline form-control" id="street_address" name="street_address"
            {% for message in messages %}
                {% if 'sa_input' in message.extra_tags %}
                    value='{{ message }}'
                {% endif %}
            {% endfor %}
            > <br>
            <div>
                <label for="city" class="inline city">City:</label>
                <label for="state" class="inline state">State:</label>
                <label for="zip_code" class="inline zip">Zip Code:</label>
            </div>
            <div>
                <input type="text" class=" d-inline form-control inline city" id="city" name="city"
                {% for message in messages %}
                    {% if 'c_input' in message.extra_tags %}
                        value='{{ message }}'
                    {% endif %}
                {% endfor %}
                >
                <input type="text" class=" d-inline form-control inline state" id="state" name="state"
                {% for message in messages %}
                    {% if 's_input' in message.extra_tags %}
                        value='{{ message }}'
                    {% endif %}
                {% endfor %}
                >
                <input type="text" class=" d-inline form-control inline zip" id="zip_code" name="zip_code"
                {% for message in messages %}
                    {% if 'zc_input' in message.extra_tags %}
                        value='{{ message }}'
                    {% endif %}
                {% endfor %}
                >
            </div>
            <label for="password">Password:</label>
            <input type="password" class="d-inline form-control" id="password" name="password" ><br>
            {% for message in messages %}
                {% if 'password' in message.extra_tags %}
                <p class="alert" role="alert">
                    {{message}}
                </p>
                {% endif %}
            {% endfor %}            
            <label for="confirm_password">Confirm password:</label>
            <input type="password" class="d-inline form-control" id="confirm_password" name="confirm_password"><br>
            
            <label for="user_image">Upload a profile picture.</label><br>
            <input type="file" class="myform" id="user_image" name="user_image" accept="image/*">
            <img href=#><br>

            <label for="bio" class="myform">Your bio:</label>
            <textarea class="form-control" rows="3" name="bio" id="bio">{% for message in messages %}{% if 'b_input' in message.extra_tags %}{{ message }}{% endif %}{% endfor %}</textarea>
            <button class="btn my-2 my-sm-0 dark btn-outline-success" type="submit">Register</button>
        </form>
        
        <form action="/loginProcess/" class="form-group pb-5", method='post'>
            {% csrf_token %}
            <h3 class="logintitle">Log In</h3>
            <label for="email">Email address:</label>
            <input type="email" class=" d-inline form-control" id="email" name="email"><br>
            {% for message in messages %}
                {% if 'logine' in message.extra_tags %}
                <p class="alert" role="alert">
                    {{message}}
                </p>
                {% endif %}
            {% endfor %}   
            
            <label for="password">Password:</label>
            <input type="password" class="d-inline form-control" id="password" name="password" ><br>
            {% for message in messages %}
                {% if 'loginp' in message.extra_tags %}
                <p class="alert" role="alert">
                    {{message}}
                </p>
                {% endif %}
            {% endfor %}   
            <button class="btn my-2 my-sm-0 dark mb-5 btn-outline-success" type="submit">Log In</button>
            
        </form>
       

       

        
                <!-- End of row -->
            <!-- </div> -->
            <!-- End of login -->
        <!-- </div> -->
       
<!-- End of main -->
    </div>

</body>
</html>